@model IEnumerable<MVCManagement.Models.Employee>

<table class="table" id="employeeList">
    <thead class="thead-dark">
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Email</th>
            <th>Title</th>
            <th>Age</th>
            <th>Salary</th>
        </tr>
    </thead>
    @*@foreach (var item in Model)
        {
            <tr id="employeeList">
                <td>@Html.DisplayFor(modelItem => item.FirstName)</td>
                <td>@Html.DisplayFor(modelItem => item.LastName)</td>
                <td>@Html.DisplayFor(modelItem => item.Email)</td>
                <td>@Html.DisplayFor(modelItem => item.Title)</td>
                <td>@Html.DisplayFor(modelItem => item.Age)</td>
                <td>@Html.DisplayFor(modelItem => item.Salary)</td>
            </tr>
        }*@

</table>

<script type="text/javascript">
    $(document).ready(function () {
        var employees = $('#employeeList');

        $.ajax({
            type: 'GET',
            url: '/api/Management/GetEmployees',
            dataType: 'json',
            success: function (data) {
                $.each(data, function (index, val) {
                    employees.append( '<tr>' +
                        '<td>' + val.FirstName + '</td>' +
                        '<td>' + val.LastName + '</td>' +
                        '<td>' + val.Email + '</td>' +
                        '<td>' + val.Title + '</td>' +
                        '<td>' + val.Age + '</td>' +
                        '<td>' + val.Salary + '</td>'
                        + '</tr>'
                    )
                })
            }
        })
    })
</script>
